@import url("https://fonts.googleapis.com/css2?family=Manuale:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.loader-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #242f3f;
  display: flex;
  justify-content: center;
  align-items: center; }
  .loader-wrapper__span {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    border: 4px solid #fff;
    animation: loader 2s infinite ease; }
    .loader-wrapper__span--inner {
      vertical-align: top;
      display: inline-block;
      width: 100%;
      background-color: #fff;
      animation: loader-inner 2s infinite ease-in; }
  .loader-wrapper__text {
    font-size: 1.4rem;
    position: absolute;
    left: 30px;
    bottom: 30px;
    color: #fff;
    animation: moveInBottom .4s ease; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }
@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translate(-50%, -2%); }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%); } }
@keyframes loader {
  0% {
    transform: rotate(0deg); }
  25% {
    transform: rotate(180deg); }
  50% {
    transform: rotate(180deg); }
  75% {
    transform: rotate(360deg); }
  100% {
    transform: rotate(360deg); } }
@keyframes loader-inner {
  0% {
    height: 0%; }
  25% {
    height: 0%; }
  50% {
    height: 100%; }
  75% {
    height: 100%; }
  100% {
    height: 0%; } }
@keyframes scroll {
  0% {
    top: 8px; }
  50% {
    top: 38px; }
  100% {
    top: 8px; } }
@keyframes navLinkFade {
  from {
    opacity: 0;
    tranform: translateX(5rem); }
  to {
    opacity: 1;
    transform: translateX(0); } }
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 2.5rem;
  color: #2f3542;
  background-color: #fff; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Manuale', serif; }

.heading-primary {
  font-size: 4rem;
  margin-bottom: 4rem; }

.heading-primary--mobile {
  font-size: 4rem; }

.heading-secondary {
  font-size: 3.5rem;
  margin-bottom: 3rem; }

.desc-primary {
  font-size: 1.8rem; }

.heading-tertiary {
  font-size: 2.5rem;
  margin-bottom: 2rem; }

.heading-quaternary {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  font-weight: 400; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.button {
  padding: 1rem 3.5rem;
  display: inline-block;
  background-color: #0097e6;
  text-decoration: none;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 500;
  margin-top: 2rem;
  transition: transform 0.2s ease-in-out;
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.3); }
  .button:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.3); }
  .button:active {
    transform: translateY(-0.1rem); }

.btn-text:link, .btn-text:visited {
  color: #0097e6;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #0097e6;
  padding: 3px 5px;
  font-size: 1.4rem;
  transition: all 0.3s;
  font-weight: 500; }
.btn-text:hover {
  background-color: #0097e6;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }
.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8rem; }
  .card-container .card {
    width: 27rem;
    height: 39rem;
    margin: 0 3rem;
    background-color: #fff;
    -webkit-box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    transition: transform 0.2s ease-in-out; }
    .card-container .card__shape {
      width: 15rem;
      height: 15rem;
      clip-path: circle(50% at 50% 50%);
      margin-top: 4rem; }
    .card-container .card__image {
      height: 100%;
      width: 100%;
      object-fit: cover; }
    .card-container .card__text {
      font-size: 1.6rem; }
    .card-container .card--desc {
      width: 30rem;
      height: auto;
      margin: 0 3rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      text-align: left; }
    .card-container .card__heading {
      font-size: 1.6rem;
      margin-top: 2.5rem;
      font-weight: 700;
      line-height: 3rem; }
      .card-container .card__heading--sub {
        font-family: 'Montserrat', sans-serif;
        font-size: 1.4rem;
        font-weight: 400; }
    .card-container .card__icons {
      display: flex;
      margin-top: 1.5rem; }
      .card-container .card__icons--social {
        height: 20px;
        width: 20px;
        margin: 0 1rem;
        outline: none; }
        .card-container .card__icons--social:hover {
          filter: invert(50%) sepia(99%) saturate(3404%) hue-rotate(174deg) brightness(96%) contrast(101%); }
        .card-container .card__icons--social:focus {
          outline: none; }
      .card-container .card__icons--linkedin {
        width: 16px;
        height: 20px;
        margin: 0 1rem; }
        .card-container .card__icons--linkedin:hover {
          filter: invert(50%) sepia(99%) saturate(3404%) hue-rotate(174deg) brightness(96%) contrast(101%); }
    .card-container .card:hover {
      transform: scale(1.05) translateY(-0.5rem); }

.service-card {
  width: 20rem;
  height: 20rem;
  padding: 2rem;
  background-color: #fff;
  -webkit-box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.3);
  margin: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  transition: transform 0.2s ease-in-out; }
  .service-card__image {
    width: 7rem;
    opacity: 0.9; }
  .service-card__desc {
    font-size: 1.6rem;
    font-weight: 500;
    text-align: center;
    margin-top: 1rem; }
  .service-card:hover {
    transform: scale(1.05) translateY(-0.5rem); }

.header {
  height: 100vh;
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.15); }
  .header__image {
    width: 100%;
    height: 100vh;
    background-image: url(../../img/hero-bg.jpg);
    background-position: 50% 15%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; }
    .header__image:after {
      content: '';
      position: absolute;
      background: rgba(0, 0, 0, 0.7);
      opacity: 1;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0; }
  .header .info {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    line-height: 4rem;
    animation: moveInTop 1s ease; }
    .header .info__title {
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); }
      .header .info__title--span1 {
        font-size: 3rem; }
      .header .info__title--span2 {
        font-size: 4rem; }
  .header .mouse-wrapper {
    position: absolute;
    left: 50%;
    bottom: 30px;
    pointer-events: none;
    background-color: transparent;
    border: none; }
  .header .mouse {
    width: 30px;
    height: 58px;
    border: 2px solid #fff;
    border-radius: 25px;
    transition: all .2s ease-in-out 0s;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    position: relative; }
    .header .mouse:after {
      content: '';
      width: 8px;
      height: 8px;
      background: #fff;
      left: 9px;
      top: 11px;
      border-radius: 50%;
      -webkit-animation-duration: 2s;
      animation-duration: 2s;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
      -webkit-animation-name: scroll;
      animation-name: scroll;
      position: absolute; }

@media (max-width: 1200px) {
  .header .info__title--span1 {
    font-size: 2.7rem; }
  .header .info__title--span2 {
    font-size: 3.7rem; } }
@media (max-width: 991px) {
  .header .info__title--span1 {
    font-size: 2.3rem; }
  .header .info__title--span2 {
    font-size: 3rem; } }
@media (max-width: 768px) {
  .header .info__title--span1 {
    font-size: 2rem; }
  .header .info__title--span2 {
    font-size: 2.6rem; }
  .header .mouse-wrapper {
    bottom: 60px; } }
@media (max-width: 567px) {
  .header .info__title--span1 {
    font-size: 1.9rem; }
  .header .info__title--span2 {
    font-size: 2.3rem; } }
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 6vh;
  background-color: #2f3542;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  padding: 0 3rem; }

.logo {
  cursor: pointer; }
  .logo a {
    color: #fff;
    letter-spacing: 3px;
    font-size: 2rem;
    font-family: 'Manuale', serif;
    text-decoration: none; }

.nav-links {
  display: flex;
  justify-content: center; }

.nav-links li {
  list-style: none;
  padding: 0 1.5rem; }
.nav-links a {
  color: rgba(255, 255, 255, 0.789);
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: 500;
  font-size: 1.4rem;
  position: relative; }
  .nav-links a:after {
    content: '';
    position: absolute;
    bottom: -.5rem;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    color: transparent;
    background: #aaa;
    height: 1px;
    transition: all .3s; }
  .nav-links a:hover {
    color: #fff; }
    .nav-links a:hover:after {
      width: 100%; }

.burger {
  display: none; }
  .burger div {
    width: 2.5rem;
    height: .2rem;
    background-color: #fff;
    margin: .5rem;
    transition: all .3s ease; }

@media (max-width: 991px) {
  .nav-links li {
    padding: 0 1rem; } }
@media (max-width: 768px) {
  body {
    overflow-x: hidden; }

  nav {
    padding: 0 2rem; }

  .logo a {
    font-size: 1.8rem; }

  .nav-links {
    position: absolute;
    right: 0;
    height: 94vh;
    top: 6vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 50%;
    background-color: #2f3542;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
    padding: 3rem 0 0; }
    .nav-links li {
      opacity: 0;
      padding: 1rem 0; }
    .nav-links a {
      font-size: 1.6rem; }

  .burger {
    display: block;
    cursor: pointer; }

  .nav-active {
    transform: translateX(0%); }

  .toggle .line1 {
    transform: rotate(-45deg) translate(-0.4rem, 0.5rem); }
  .toggle .line2 {
    opacity: 0; }
  .toggle .line3 {
    transform: rotate(45deg) translate(-0.5rem, -0.6rem); } }
@media (max-width: 576px) {
  .logo a {
    font-size: 1.6rem; }

  .nav-links a {
    font-size: 1.4rem; } }
.sport-massage__container {
  display: flex;
  justify-content: center;
  height: 94vh;
  width: 100vw;
  max-width: 1600px;
  margin: 0 auto; }
  .sport-massage__container:nth-child(2) {
    margin: 6vh auto 0; }
.sport-massage__image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 3rem; }
.sport-massage__figure {
  margin: 0; }
.sport-massage__image {
  max-width: 600px;
  max-height: 700px; }
.sport-massage__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 3rem; }
.sport-massage__paragraph {
  font-size: 1.6rem;
  margin-bottom: 1rem;
  font-weight: 500;
  text-transform: uppercase; }
.sport-massage__paragraph--second {
  font-size: 1.4rem;
  margin-bottom: 1rem;
  font-weight: 400; }
.sport-massage__list {
  list-style-type: none;
  margin-bottom: 1rem; }
.sport-massage__item {
  font-size: 1.4rem;
  margin-bottom: .3rem; }

@media (max-width: 1300px) {
  .sport-massage__image {
    max-width: 500px; } }
@media (max-width: 1199px) {
  .sport-massage__container {
    padding: 0 1rem; }
  .sport-massage__image-container {
    padding: 0 2rem; }
  .sport-massage__image {
    max-width: 425px; }
  .sport-massage__info {
    padding: 0 2rem; }
  .sport-massage__paragraph {
    font-size: 1.5rem;
    margin-bottom: .8rem; }
  .sport-massage__paragraph--second {
    font-size: 1.3rem;
    margin-bottom: .8rem; }
  .sport-massage__list {
    margin-bottom: .8rem; }
  .sport-massage__item {
    margin-bottom: .2rem; } }
@media (max-width: 990px) {
  .sport-massage__container {
    height: auto;
    flex-direction: column-reverse; }
    .sport-massage__container:nth-child(2) {
      margin: 10vh auto 0; }
  .sport-massage__container--second {
    flex-direction: column; }
  .sport-massage__image-container {
    padding: 4rem 3rem; }
  .sport-massage__image {
    max-width: 600px;
    max-height: 600px; } }
@media (max-width: 767px) {
  .sport-massage__image {
    max-width: 500px; }
  .sport-massage__paragraph {
    font-size: 1.4rem;
    margin-bottom: 1rem; }
  .sport-massage__paragraph--second {
    margin-bottom: 1rem; }
  .sport-massage__list {
    margin-bottom: 1rem; }
  .sport-massage__item {
    font-size: 1.3rem;
    margin-bottom: .2rem; }
  .sport-massage .heading-tertiary {
    font-size: 2.3rem; } }
@media (max-width: 567px) {
  .sport-massage__container:nth-child(2) {
    margin: 9vh auto 0; }
  .sport-massage__image-container {
    padding: 3rem 0; }
  .sport-massage__figure {
    max-width: 100%;
    padding: 0 1rem;
    margin: 0 auto; }
  .sport-massage__image {
    max-width: 100%; }
  .sport-massage__info {
    padding: 0 1rem; }
  .sport-massage .heading-tertiary {
    font-size: 2.1rem; } }
.about-wit {
  width: 100%;
  margin: 0 auto; }
  .about-wit .header-about {
    display: flex;
    height: 100vh;
    max-width: 1600px;
    margin: 0 auto; }
    .about-wit .header-about__title-wrapper {
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center; }
    .about-wit .header-about .heading-primary {
      font-size: 6rem; }
    .about-wit .header-about__image {
      width: 50%;
      background-image: url(/img/wit_jedrzejewski.png);
      background-position: 50% 100%;
      background-size: cover;
      background-repeat: no-repeat; }
      .about-wit .header-about__image .heading-primary--mobile {
        display: none; }
  .about-wit .career-bg {
    background-color: #f7f7f7; }
  .about-wit .career-wrapper {
    max-width: 1600px;
    display: flex;
    margin: 0 auto; }
  .about-wit .certificates {
    width: 50%;
    padding: 0 15px;
    margin: 12rem 0; }
    .about-wit .certificates .heading-secondary {
      position: relative;
      display: inline; }
      .about-wit .certificates .heading-secondary:after {
        content: '';
        background-image: url(../../img/certificate.svg);
        background-size: cover;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        position: absolute;
        width: 6.4rem;
        height: 6.4rem;
        top: -1rem;
        right: -10rem; }
    .about-wit .certificates__description {
      margin-top: 4rem; }
    .about-wit .certificates__list {
      list-style-type: none; }
    .about-wit .certificates__list-item {
      font-size: 1.6rem; }
  .about-wit .experience {
    width: 50%;
    padding: 0 15px;
    margin: 12rem 0; }
    .about-wit .experience .heading-secondary {
      position: relative;
      display: inline; }
      .about-wit .experience .heading-secondary:after {
        content: '';
        background-image: url(../../img/experience.svg);
        background-size: cover;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        position: absolute;
        width: 6.4rem;
        height: 6.4rem;
        top: -1rem;
        right: -10rem; }
    .about-wit .experience__description {
      margin-top: 4rem; }
    .about-wit .experience__list {
      list-style-type: none; }
    .about-wit .experience__list-item {
      font-size: 1.6rem; }
  .about-wit .interests-wrapper {
    max-width: 1600px;
    margin: 0 auto; }
  .about-wit .interests {
    max-width: 1000px;
    padding: 0 15px;
    margin-top: 12rem;
    margin-bottom: 6rem;
    left: 50%;
    position: relative;
    transform: translateX(-50%); }
    .about-wit .interests .interests__title-wrapper {
      text-align: center; }
    .about-wit .interests .heading-secondary {
      position: relative;
      display: inline; }
      .about-wit .interests .heading-secondary:after {
        content: '';
        background-image: url(../../img/interests.svg);
        background-size: cover;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        position: absolute;
        width: 6.4rem;
        height: 6.4rem;
        top: -1.5rem;
        right: -9rem; }
    .about-wit .interests__description {
      margin-top: 4rem; }
    .about-wit .interests__text {
      font-size: 1.6rem;
      margin-bottom: 1.5rem; }

@media (max-width: 1200px) {
  .about-wit .header-about .heading-primary {
    font-size: 5rem; }
  .about-wit .certificates .heading-secondary,
  .about-wit .experience .heading-secondary,
  .about-wit .interests .heading-secondary {
    font-size: 3rem; }
    .about-wit .certificates .heading-secondary:after,
    .about-wit .experience .heading-secondary:after,
    .about-wit .interests .heading-secondary:after {
      right: -9rem; } }
@media (max-width: 991px) {
  .about-wit .header-about .heading-primary {
    font-size: 4rem; }
  .about-wit .career-wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8rem 0; }
  .about-wit .certificates,
  .about-wit .experience,
  .about-wit .interests {
    width: 90%; }
    .about-wit .certificates .heading-secondary,
    .about-wit .experience .heading-secondary,
    .about-wit .interests .heading-secondary {
      font-size: 2.7rem; }
  .about-wit .certificates {
    margin: 0; }
  .about-wit .experience {
    margin: 8rem 0 0; }
  .about-wit .interests {
    margin: 8rem 0; }
  .about-wit .certificates__title-wrapper,
  .about-wit .experience__title-wrapper {
    text-align: center; }
  .about-wit .certificates__list-item,
  .about-wit .experience__list-item,
  .about-wit .interests__text {
    font-size: 1.4rem; } }
@media (max-width: 768px) {
  .about-wit .header-about .heading-primary {
    font-size: 3rem; }
  .about-wit .header-about__title-wrapper {
    display: none; }
  .about-wit .header-about__image {
    width: 100%;
    height: 100vh;
    background-position: 57% 100%;
    background-size: 70%;
    position: absolute;
    bottom: 0;
    background-attachment: fixed;
    text-align: center; }
    .about-wit .header-about__image .heading-primary--mobile {
      display: inline-block;
      margin-top: 8rem; }
  .about-wit .career-wrapper {
    padding: 6rem 0; }
  .about-wit .experience {
    margin: 6rem 0 0; }
  .about-wit .interests {
    margin: 6rem 0; }
  .about-wit .certificates,
  .about-wit .experience,
  .about-wit .interests {
    width: 90%; }
    .about-wit .certificates .heading-secondary,
    .about-wit .experience .heading-secondary,
    .about-wit .interests .heading-secondary {
      font-size: 2.4rem; }
  .about-wit .certificates__list-item,
  .about-wit .experience__list-item,
  .about-wit .interests__text {
    font-size: 1.3rem; } }
@media (max-width: 576px) {
  .about-wit .header-about__image {
    background-size: 90%;
    background-position: 70% 100%; }
  .about-wit .certificates,
  .about-wit .experience,
  .about-wit .interests {
    width: 90%; }
    .about-wit .certificates .heading-secondary,
    .about-wit .experience .heading-secondary,
    .about-wit .interests .heading-secondary {
      font-size: 2rem;
      margin-bottom: 2rem;
      display: block; }
      .about-wit .certificates .heading-secondary:after,
      .about-wit .experience .heading-secondary:after,
      .about-wit .interests .heading-secondary:after {
        width: 48px;
        height: 48px;
        right: -4rem; }
  .about-wit .certificates__title-wrapper,
  .about-wit .experience__title-wrapper {
    text-align: left;
    max-width: 200px; }
  .about-wit .interests .interests__title-wrapper {
    text-align: left;
    max-width: 200px; }
  .about-wit .certificates__description,
  .about-wit .experience__description,
  .about-wit .interests__description {
    margin-top: 2rem; } }
@media (max-width: 450px) {
  .about-wit .header-about__image {
    background-size: contain; } }
.home-wrapper {
  position: relative; }

.section-about {
  padding: 8rem 1.5rem;
  position: relative;
  background-image: linear-gradient(to top, #fff, #cdd7da); }
  .section-about .section-wrapper {
    max-width: 1600px;
    margin: 0 auto;
    text-align: center; }
  .section-about .desc-primary {
    text-align: center;
    max-width: 70rem;
    margin: 0 auto;
    padding: 0 1.5rem; }
  .section-about .cards {
    display: flex; }
  .section-about .btn-text {
    margin-top: 1rem; }

.section-services {
  padding: 8rem 1.5rem;
  position: relative; }
  .section-services .section-wrapper {
    max-width: 1600px;
    margin: 0 auto;
    text-align: center; }
  .section-services .desc-primary {
    max-width: 70rem;
    margin: 0 auto;
    padding: 0 1.5rem; }
  .section-services .service-link {
    text-decoration: none;
    color: #2f3542;
    outline: none; }
    .section-services .service-link:focus {
      outline: none; }
  .section-services .services {
    margin-top: 8rem; }
  .section-services .button {
    margin: 4rem 0; }
  .section-services .owl-carousel .owl-item {
    display: flex;
    justify-content: center;
    align-items: center; }
    .section-services .owl-carousel .owl-item img {
      width: 7rem; }
  .section-services .owl-carousel .owl-nav {
    position: relative; }
    .section-services .owl-carousel .owl-nav .owl-prev,
    .section-services .owl-carousel .owl-nav .owl-next {
      position: absolute; }
      .section-services .owl-carousel .owl-nav .owl-prev:hover,
      .section-services .owl-carousel .owl-nav .owl-next:hover {
        background-color: #fff;
        color: #0097e6; }
  .section-services .owl-next {
    right: 0;
    transform: translateY(-550%) scale(5); }
  .section-services .owl-prev {
    left: 0;
    transform: translateY(-550%) scale(5); }

@media (max-width: 1200px) {
  .section-about .heading-primary {
    font-size: 3rem; }
  .section-about .desc-primary {
    font-size: 1.6rem; }

  .section-services .heading-primary {
    font-size: 3rem; }
  .section-services .desc-primary {
    font-size: 1.6rem; } }
@media (max-width: 991px) {
  .section-about .heading-primary {
    font-size: 2.7rem; }
  .section-about .card-container {
    flex-direction: column-reverse; }
  .section-about .card--desc {
    width: auto;
    justify-content: flex-start;
    margin-top: 6rem; }

  .section-services {
    padding: 4rem 1.5rem 8rem; }
    .section-services .heading-primary {
      font-size: 2.7rem; }
    .section-services .services {
      margin-top: 6rem; } }
@media (max-width: 768px) {
  .section-about .desc-primary {
    font-size: 1.4rem; }
  .section-about .card {
    margin: 0 1.5rem; }
    .section-about .card__text {
      font-size: 1.4rem; }

  .section-services {
    padding: 2rem 1.5rem 8rem; }
    .section-services .desc-primary {
      font-size: 1.4rem; } }
@media (max-width: 576px) {
  .section-about .heading-primary {
    font-size: 2.4rem; }
  .section-about .card-container {
    margin-top: 5rem; }
  .section-about .cards {
    flex-direction: column; }
  .section-about .card {
    margin: 1.5rem; }

  .section-services {
    padding: 0rem 1.5rem 8rem; }
    .section-services .heading-primary {
      font-size: 2.4rem; }
    .section-services .services {
      margin-top: 4rem; } }

/*# sourceMappingURL=main.css.map */
