@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.loader-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #242f3f;
  display: flex;
  justify-content: center;
  align-items: center; }
  .loader-wrapper__span {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    border: 4px solid #fff;
    animation: loader 2s infinite ease; }
    .loader-wrapper__span--inner {
      vertical-align: top;
      display: inline-block;
      width: 100%;
      background-color: #fff;
      animation: loader-inner 2s infinite ease-in; }
  .loader-wrapper__text {
    font-size: 2rem;
    position: absolute;
    left: 30px;
    bottom: 30px;
    color: #fff;
    animation: moveInBottom .4s ease; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }
@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-3rem); }
  99% {
    opacity: 0; }
  100% {
    opacity: 1;
    transform: translateX(0); } }
@keyframes loader {
  0% {
    transform: rotate(0deg); }
  25% {
    transform: rotate(180deg); }
  50% {
    transform: rotate(180deg); }
  75% {
    transform: rotate(360deg); }
  100% {
    transform: rotate(360deg); } }
@keyframes loader-inner {
  0% {
    height: 0%; }
  25% {
    height: 0%; }
  50% {
    height: 100%; }
  75% {
    height: 100%; }
  100% {
    height: 0%; } }
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 2.5rem;
  color: #2f3542;
  background-color: #fff; }

.heading-primary {
  font-size: 3rem;
  margin-bottom: 3rem; }

.desc-primary {
  font-size: 1.6rem; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.button {
  padding: 1rem 3.5rem;
  background-color: #0097e6;
  text-decoration: none;
  color: #fff;
  font-size: 1.4rem;
  margin-top: 2rem;
  transition: transform 0.3s ease-in-out; }
  .button:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.3); }
  .button:active {
    transform: translateY(-0.1rem); }

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8rem; }
  .card-container .card {
    width: 25rem;
    height: 35rem;
    margin: 0 3rem;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    -webkit-box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.3); }
    .card-container .card__shape {
      width: 15rem;
      height: 15rem;
      clip-path: circle(50% at 50% 50%);
      margin-top: 4rem; }
    .card-container .card__image {
      height: 100%;
      width: 100%;
      object-fit: cover; }
    .card-container .card__text {
      font-size: 1.6rem; }
    .card-container .card--desc {
      width: 30rem;
      height: 35rem;
      margin: 0 3rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start; }
    .card-container .card__heading {
      font-size: 1.6rem;
      margin-top: 2.5rem;
      font-weight: 600;
      line-height: 3rem; }
      .card-container .card__heading--sub {
        font-size: 1.4rem;
        font-weight: 400; }
    .card-container .card__icons {
      display: flex;
      margin-top: 1.5rem; }
      .card-container .card__icons--social {
        height: 20px;
        width: 20px;
        margin: 0 1rem; }
        .card-container .card__icons--social:hover {
          filter: invert(50%) sepia(99%) saturate(3404%) hue-rotate(174deg) brightness(96%) contrast(101%); }
      .card-container .card__icons--linkedin {
        width: 16px;
        height: 20px;
        margin: 0 1rem; }
        .card-container .card__icons--linkedin:hover {
          filter: invert(50%) sepia(99%) saturate(3404%) hue-rotate(174deg) brightness(96%) contrast(101%); }

.video-header {
  height: 100vh;
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.15); }
  .video-header__wrapper {
    width: 100%;
    height: 100vh; }
    .video-header__wrapper:after {
      content: '';
      position: absolute;
      background: rgba(0, 0, 0, 0.6);
      opacity: 1;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0; }
  .video-header__movie {
    width: 100%;
    height: 100vh;
    object-fit: cover; }
  .video-header .info {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    line-height: 4rem; }
    .video-header .info__title {
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
      animation: moveInTop 0.5s ease; }
      .video-header .info__title--span1 {
        font-size: 3rem; }
      .video-header .info__title--span2 {
        font-size: 4rem; }

@media (max-width: 1200px) {
  .video-header .info__title--span1 {
    font-size: 2.7rem; }
  .video-header .info__title--span2 {
    font-size: 3.7rem; } }
@media (max-width: 991px) {
  .video-header .info__title--span1 {
    font-size: 2.3rem; }
  .video-header .info__title--span2 {
    font-size: 3rem; } }
@media (max-width: 768px) {
  .video-header .info__title--span1 {
    font-size: 2rem; }
  .video-header .info__title--span2 {
    font-size: 2.6rem; } }
@media (max-width: 567px) {
  .video-header .info__title--span1 {
    font-size: 1.7rem; }
  .video-header .info__title--span2 {
    font-size: 2.3rem; } }
.section-about {
  max-width: 1600px;
  padding: 8rem 1.5rem;
  margin: 0 auto; }
  .section-about .heading-primary {
    text-align: center; }
  .section-about .desc-primary {
    text-align: center;
    max-width: 700px;
    margin: 0 auto; }

/*# sourceMappingURL=main.css.map */
