.about-patryk {
    width: 100%;
    margin: 0 auto;
    .header-about {
        display: flex;
        height: 100vh;
        max-width: 1600px;
        margin: 0 auto;
        position: relative;
        &__title-wrapper {
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 3rem;
        }
        .heading-primary {
            font-size: 6rem;
        }
        &__subtitle {
            font-style: italic;
            font-size: 2rem;
            text-align: center;
            margin-top: 1rem;
        }
        &__image {
            width: 50%;
            background-image: url(/img/patryk_napora.png);
            background-position: 50% 100%;
            background-size: 95%;
            background-repeat: no-repeat;
        }
        .mouse {
            border: 3px solid $color-black;
            &:after {
                content: '';
                background: $color-black;
            }
        }
    }
    .career-bg {
        background-color: $color-background-tertiary;
    }
    .career-wrapper {
        max-width: 1600px;
        display: flex;
        margin: 0 auto;
    }
    .certificates {
        width: 50%;
        padding: 0 3rem;
        margin: 12rem 0;
        .heading-secondary {
            position: relative;
            display: inline;
            &:after {
                content: '';
                background-image: url(../../img/certificate.svg);
                background-size: cover;
                background-position: 50% 50%;
                background-repeat: no-repeat;
                position: absolute;
                width: 6.4rem;
                height: 6.4rem;
                top: -1rem;
                right: -10rem;
            }
        }
        &__description {
            margin-top: 4rem;
        }
        &__list {
            list-style-type: none;
        }
        &__list-item {
            font-size: $default-font-size;
            margin-bottom: 5px;
        }
    }
    .experience {
        width: 50%;
        padding: 0 3rem;
        margin: 12rem 0;
        .heading-secondary {
            position: relative;
            display: inline;
            &:after {
                content: '';
                background-image: url(../../img/experience.svg);
                background-size: cover;
                background-position: 50% 50%;
                background-repeat: no-repeat;
                position: absolute;
                width: 6.4rem;
                height: 6.4rem;
                top: -1rem;
                right: -10rem;
            }
        }
        &__description {
            margin-top: 4rem;
        }
        &__list {
            list-style-type: none;
        }
        &__list-item {
            font-size: $default-font-size;
            margin-bottom: 5px;
        }
    }
    .interests-wrapper {
        max-width: 1600px;
        margin: 0 auto;
    }
    .interests {
        max-width: 1000px;
        padding: 0 3rem;
        margin-top: 12rem;
        margin-bottom: 6rem;
        left: 50%;
        position: relative;
        transform: translateX(-50%);
        .interests__title-wrapper {
            text-align: center;
        }
        .heading-secondary {
            position: relative;
            display: inline;
            &:after {
                content: '';
                background-image: url(../../img/interests.svg);
                background-size: cover;
                background-position: 50% 50%;
                background-repeat: no-repeat;
                position: absolute;
                width: 6.4rem;
                height: 6.4rem;
                top: -1.5rem;
                right: -9rem;
            }
        }
        &__description {
            margin-top: 4rem;
        }
        &__text {
            font-size: $default-font-size;
            margin-bottom: 1.5rem;
        }
    }
}

@media (max-width: 1200px) {
    .about-patryk {
        .header-about {
            .heading-primary {
                font-size: 5rem;
            }
        }
        .certificates,
        .experience,
        .interests {
            .heading-secondary {
                font-size: 3rem;
                &:after {
                    right: -9rem;
                }
            }
        }
    }
}

@media (max-width: 991px) {
    .about-patryk {
        .header-about {
            &__title-wrapper {
                width: 100%;
            }
            &__image {
                display: none;
            }
        }
        .career-wrapper {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 8rem 0;
        }
        .certificates,
        .experience,
        .interests {
            width: 90%;
            .heading-secondary {
                font-size: 2.7rem;
            }
        }
        .certificates {
            margin: 0;
        }
        .experience {
            margin: 8rem 0 0;
        }
        .interests {
            margin: 8rem 0;
        }
        .certificates__title-wrapper,
        .experience__title-wrapper {
            text-align: center;
        }
        .certificates__list-item,
        .experience__list-item,
        .interests__text {
            font-size: 1.4rem;
        }
    }
}

@media (max-width:768px) {
    .about-patryk {
        .header-about {}
        .career-wrapper {
            padding: 6rem 0;
        }
        .experience {
            margin: 6rem 0 0;
        }
        .interests {
            margin: 6rem 0;
        }
        .certificates,
        .experience,
        .interests {
            width: 90%;
            .heading-secondary {
                font-size: 2.4rem;
            }
        }
        .certificates__list-item,
        .experience__list-item,
        .interests__text {
            font-size: 1.3rem;
        }
    }
}

@media (max-width:576px) {
    .about-patryk {
        .header-about {
            &__image {
                background-size: 90%;
                background-position: 70% 100%;
            }
        }
        .certificates,
        .experience,
        .interests {
            width: 90%;
            .heading-secondary {
                font-size: 2rem;
                margin-bottom: 2rem;
                display: block;
                &:after {
                    width: 48px;
                    height: 48px;
                    right: -4rem;
                }
            }
        }
        .certificates__title-wrapper,
        .experience__title-wrapper {
            text-align: left;
            max-width: 200px;
        }
        .interests {
            .interests__title-wrapper {
                text-align: left;
                max-width: 200px;
            }
        }
        .certificates__description,
        .experience__description,
        .interests__description {
            margin-top: 2rem;
        }
    }
}

@media (max-width: 450px) {
    .about-patryk {
        .header-about {
            &__image {
                background-size: contain;
            }
        }
    }
}