.attribute {
    width: 100%;
    min-height: 100vh;
    position: relative;
    padding: 10rem 0;
    max-width: 1600px;
    margin: 0 auto;
    .heading-primary {
        text-align: left;
    }
    .links {
        padding: 0 5rem;
        display: flex;
        flex-direction: column;
        &__list {
            list-style-type: none;
            width: 100%;
        }
        &__list-item a {
            text-decoration: none;
            color: $color-black;
            cursor: pointer;
            font-size: 1.4rem;
            margin: 5px 0;
            line-height: 1.3em;
            display: block;
            &:hover {
                color: blue;
            }
        }
    }
}

@media(max-width:575px) {
    .attribute {
        .links {
            padding: 0 2rem;
            max-width: 350px;
        }
        .heading-primary {
            font-size: 3rem;
        }
        &__list-item a {
            font-size: 1.2rem;
        }
    }
}