.home-wrapper {
    position: relative;
}

.section-about {
    padding: 8rem 1.5rem;
    position: relative;
    background-image: linear-gradient(to top, $color-background-primary, $color-background-secondary);
    .section-wrapper {
        max-width: 1600px;
        margin: 0 auto;
        text-align: center;
    }
    .desc-primary {
        text-align: center;
        max-width: 70rem;
        margin: 0 auto;
        padding: 0 1.5rem;
    }
    .cards {
        display: flex;
    }
    .btn-text {
        margin-top: 1rem;
    }
}

.section-services {
    padding: 8rem 1.5rem;
    position: relative;
    .section-wrapper {
        max-width: 1600px;
        margin: 0 auto;
        text-align: center;
    }
    .desc-primary {
        max-width: 70rem;
        margin: 0 auto;
        padding: 0 1.5rem;
    }
    .service-link {
        text-decoration: none;
        color: $color-text-primary;
    }
    .services {
        margin-top: 8rem;
    }
    .button {
        margin-top: 4rem;
    }
    .owl-carousel {
        .owl-item {
            display: flex;
            justify-content: center;
            align-items: center;
            img {
                width: 7rem;
            }
        }
        .owl-nav {
            position: relative;
            .owl-prev,
            .owl-next {
                position: absolute;
                &:hover {
                    background-color: $color-background-primary;
                    color: $color-button-background;
                }
            }
        }
    }
    .owl-next {
        right: 0;
        transform: translateY(-550%) scale(5);
    }
    .owl-prev {
        left: 0;
        transform: translateY(-550%) scale(5);
    }
}

@media (max-width: 1200px) {
    .section-about {
        .heading-primary {
            font-size: 3rem;
        }
        .desc-primary {
            font-size: 1.6rem;
        }
    }
    .section-services {
        .heading-primary {
            font-size: 3rem;
        }
        .desc-primary {
            font-size: 1.6rem;
        }
    }
}

@media (max-width: 991px) {
    .section-about {
        .heading-primary {
            font-size: 2.7rem;
        }
        .card-container {
            flex-direction: column-reverse;
        }
        .card {
            &--desc {
                width: auto;
                justify-content: flex-start;
                margin-top: 6rem;
            }
        }
    }
    .section-services {
        padding: 4rem 1.5rem 8rem;
        .heading-primary {
            font-size: 2.7rem;
        }
        .services {
            margin-top: 6rem;
        }
    }
}

@media (max-width: 768px) {
    .section-about {
        .desc-primary {
            font-size: 1.4rem;
        }
        .card {
            margin: 0 1.5rem;
            &__text {
                font-size: 1.4rem;
            }
        }
    }
    .section-services {
        padding: 2rem 1.5rem 8rem;
        .desc-primary {
            font-size: 1.4rem;
        }
    }
}

@media (max-width: 576px) {
    .section-about {
        .heading-primary {
            font-size: 2.4rem;
        }
        .card-container {
            margin-top: 5rem;
        }
        .cards {
            flex-direction: column;
        }
        .card {
            margin: 1.5rem;
        }
    }
    .section-services {
        padding: 0rem 1.5rem 8rem;
        .heading-primary {
            font-size: 2.4rem;
        }
        .services {
            margin-top: 4rem;
        }
    }
}

// .section-features {
//     padding: 20rem 0;
//     background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 131, 0.8)), url(../img/nat-4.jpg);
//     background-position: cover;
//     transform: skewY(-7deg);
//     margin-top: -10rem;
//     &>* {
//         transform: skewY(7deg);
//     }
// }
// .section-tours {
//     background-color: $color-grey-light-1;
//     padding: 25rem 0 15rem;
//     margin-top: -10rem;
// }
// .section-stories {
//     padding: 15rem 0;
//     position: relative;
// }
// .section-book {
//     padding: 15rem 0;
//     background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
// }
// .book {
//     background-image: linear-gradient(105deg, rgba($color-white, .9) 0%, rgba($color-white, .9) 50%, transparent 50%), url(../img/nat-10.jpg);
//     background-size: 100%;
//     background-repeat: no-repeat;
//     border-radius: $border-radius-small;
//     box-shadow: 0 1.5rem 4rem rgba($color-black, .2);
//     height: 50rem;
//     &__form {
//         width: 50%;
//         padding: 6rem;
//     }
// }