.offer {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .heading-primary {
        margin-bottom: 6rem;
    }
    .heading-tertiary {
        margin-bottom: 3rem;
        max-width: 900px;
        text-align: center;
    }
    &__container {
        padding: 12rem 4rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__single {
        margin-bottom: 6rem;
    }
    &__services {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    &__service-link {
        text-decoration: none;
        color: $color-text-primary;
        outline: none;
        &:focus,
        &:hover,
        &:active {
            outline: none;
        }
    }
}

@media(max-width:991px) {
    .offer {
        .heading-primary {
            font-size: 3.5rem;
        }
        .heading-tertiary {
            font-size: 2.3rem;
        }
    }
}

@media(max-width:767px) {
    .offer {
        .heading-primary {
            font-size: 3rem;
            margin-bottom: 5rem;
        }
        .heading-tertiary {
            font-size: 2rem;
        }
        &__single {
            margin-bottom: 5rem;
        }
        &__container {
            padding: 10rem 3rem;
        }
    }
}

@media(max-width:575px) {
    .offer {
        .heading-primary {
            margin-bottom: 4rem;
        }
        &__single {
            margin-bottom: 4rem;
        }
        &__container {
            padding: 10rem 2rem;
        }
    }
}