.footer {
    width: 100%;
    height: 6vh;
    background-color: $color-navigation;
    position: absolute;
    bottom: 0;
    height: 8vh;
    padding: 3rem 4rem;
    display: flex;
    justify-content: space-between;
    &__container {
        display: flex;
    }
    &__paragraph {
        color: $color-white;
        font-size: 1.4rem;
        display: inline-block;
        margin-right: .5rem;
    }
    &__link {
        color: $color-white;
        font-size: 1.4rem;
        display: inline-block;
        text-decoration: none;
        cursor: pointer;
    }
}

@media (max-width: 767px) {
    .footer {
        padding: 1.5rem 3rem;
        &__container {
            flex-direction: column;
        }
        &__paragraph {
            font-size: 1.2rem;
            display: block;
        }
        &__link {
            font-size: 1.2rem;
            display: block;
        }
    }
}

@media (max-width: 400px) {
    .footer {
        padding: 1.5rem 2rem;
    }
}