.header {
    height: 100vh;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .15);
    &__image {
        width: 100%;
        height: 100vh;
        background-image: url(../../img/hero-bg.jpg);
        background-position: 50% 15%;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        &:after {
            content: '';
            position: absolute;
            background: rgba(0, 0, 0, 0.7);
            opacity: 1;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }
    }
    .info {
        position: absolute;
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: $color-white;
        line-height: 4rem;
        &__title {
            text-shadow: $heading-primary-shadow;
            &--span1 {
                font-size: 3rem;
            }
            &--span2 {
                font-size: 4rem;
            }
        }
    }
    .mouse {
        &:after {
            content: '';
            left: 10px;
        }
    }
}

@media (max-width: 1200px) {
    .header {
        .info {
            &__title {
                &--span1 {
                    font-size: 2.7rem;
                }
                &--span2 {
                    font-size: 3.7rem;
                }
            }
        }
    }
}

@media (max-width: 991px) {
    .header {
        .info {
            &__title {
                &--span1 {
                    font-size: 2.3rem;
                }
                &--span2 {
                    font-size: 3rem;
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .header {
        .info {
            &__title {
                &--span1 {
                    font-size: 2rem;
                }
                &--span2 {
                    font-size: 2.6rem;
                }
            }
        }
        .mouse {
            &:after {
                content: '';
                left: 9px;
            }
        }
    }
}

@media (max-width: 567px) {
    .header {
        .info {
            &__title {
                &--span1 {
                    font-size: 1.9rem;
                }
                &--span2 {
                    font-size: 2.3rem;
                }
            }
        }
    }
}