.header {
    height: 100vh;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .15);
    &__image {
        width: 100%;
        height: 100vh;
        background-image: url(../../img/hero-bg.jpg);
        background-position: 50% 50%;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        &:after {
            content: '';
            position: absolute;
            background: rgba(0, 0, 0, 0.7);
            opacity: 1;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }
    }
    .info {
        position: absolute;
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: $color-white;
        line-height: 4rem;
        animation: moveInTop 1s ease;
        &__title {
            text-shadow: $heading-primary-shadow;
            &--span1 {
                font-size: 3rem;
            }
            &--span2 {
                font-size: 4rem;
            }
        }
    }
    .mouse-wrapper {
        position: absolute;
        left: 50%;
        bottom: 30px;
        pointer-events: none;
        background-color: transparent;
        border: none;
    }
    .mouse {
        width: 30px;
        height: 58px;
        border: 2px solid $color-white;
        border-radius: 25px;
        transition: all .2s ease-in-out 0s;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
        z-index: 5;
        position: relative;
        &:after {
            content: '';
            width: 8px;
            height: 8px;
            background: $color-white;
            left: 9px;
            top: 11px;
            border-radius: 50%;
            -webkit-animation-duration: 2s;
            animation-duration: 2s;
            -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
            -webkit-animation-name: scroll;
            animation-name: scroll;
            position: absolute;
        }
    }
}

@media (max-width: 1200px) {
    .header {
        .info {
            &__title {
                &--span1 {
                    font-size: 2.7rem;
                }
                &--span2 {
                    font-size: 3.7rem;
                }
            }
        }
    }
}

@media (max-width: 991px) {
    .header {
        .info {
            &__title {
                &--span1 {
                    font-size: 2.3rem;
                }
                &--span2 {
                    font-size: 3rem;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .header {
        .info {
            &__title {
                &--span1 {
                    font-size: 2rem;
                }
                &--span2 {
                    font-size: 2.6rem;
                }
            }
        }
    }
}

@media (max-width: 567px) {
    .header {
        .info {
            &__title {
                &--span1 {
                    font-size: 1.9rem;
                }
                &--span2 {
                    font-size: 2.3rem;
                }
            }
        }
    }
}