nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 6vh;
    background-color: $color-text-primary;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    padding: 0 3rem;
}

.logo {
    cursor: pointer;
    a {
        color: $color-white;
        letter-spacing: 3px;
        font-size: 2rem;
        font-family: 'Manuale', serif;
        text-decoration: none;
    }
}

.nav-links {
    display: flex;
    justify-content: center;
}

.nav-links {
    li {
        list-style: none;
        padding: 0 1.5rem;
    }
    a {
        color: rgba(255, 255, 255, 0.789);
        text-decoration: none;
        letter-spacing: 3px;
        font-weight: 500;
        font-size: 1.4rem;
        position: relative;
        &:after {
            content: '';
            position: absolute;
            bottom: -.5rem;
            left: 0;
            right: 0;
            margin: auto;
            width: 0%;
            color: transparent;
            background: #aaa;
            height: 1px;
            transition: all .3s;
        }
        &:hover {
            color: #fff;
            &:after {
                width: 100%;
            }
        }
    }
}

.burger {
    display: none;
    div {
        width: 2.5rem;
        height: .2rem;
        background-color: $color-white;
        margin: .5rem;
        transition: all .3s ease;
    }
}

@media (max-width: 991px) {
    .nav-links {
        li {
            padding: 0 1rem;
        }
    }
}

@media (max-width: 768px) {
    body {
        overflow-x: hidden;
    }
    nav {
        padding: 0 2rem;
    }
    .logo {
        a {
            font-size: 1.8rem;
        }
    }
    .nav-links {
        position: absolute;
        right: 0;
        height: 94vh;
        top: 6vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width: 50%;
        background-color: $color-text-primary;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
        padding: 3rem 0 0;
        li {
            opacity: 0;
            padding: 1rem 0;
        }
        a {
            font-size: 1.6rem;
        }
    }
    .burger {
        display: block;
        cursor: pointer;
    }
    .nav-active {
        transform: translateX(0%);
    }
    .toggle {
        .line1 {
            transform: rotate(-45deg) translate(-.4rem, .5rem);
        }
        .line2 {
            opacity: 0;
        }
        .line3 {
            transform: rotate(45deg) translate(-.5rem, -.6rem);
        }
    }
}

@media (max-width: 576px) {
    .logo {
        a {
            font-size: 1.6rem;
        }
    }
    .nav-links {
        a {
            font-size: 1.4rem;
        }
    }
}