.video-header {
    height: 100vh;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .15);
    &__wrapper {
        width: 100%;
        height: 100vh;
        &:after {
            content: '';
            position: absolute;
            background: rgba(0, 0, 0, 0.6);
            opacity: 1;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }
    }
    &__movie {
        width: 100%;
        height: 100vh;
        object-fit: cover;
    }
    .info {
        position: absolute;
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: $color-white;
        line-height: 4rem;
        animation: moveInTop 1s ease;
        &__title {
            text-shadow: $heading-primary-shadow;
            &--span1 {
                font-size: 3rem;
            }
            &--span2 {
                font-size: 4rem;
            }
        }
    }
}

@media (max-width: 1200px) {
    .video-header {
        .info {
            &__title {
                &--span1 {
                    font-size: 2.7rem;
                }
                &--span2 {
                    font-size: 3.7rem;
                }
            }
        }
    }
}

@media (max-width: 991px) {
    .video-header {
        .info {
            &__title {
                &--span1 {
                    font-size: 2.3rem;
                }
                &--span2 {
                    font-size: 3rem;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .video-header {
        .info {
            &__title {
                &--span1 {
                    font-size: 2rem;
                }
                &--span2 {
                    font-size: 2.6rem;
                }
            }
        }
    }
}

@media (max-width: 567px) {
    .video-header {
        .info {
            &__title {
                &--span1 {
                    font-size: 1.7rem;
                }
                &--span2 {
                    font-size: 2.3rem;
                }
            }
        }
    }
}