.button {
    padding: 1rem 3.5rem;
    display: inline-block;
    background-color: $color-button-background;
    text-decoration: none;
    color: $color-white;
    font-size: 1.4rem;
    font-weight: 500;
    margin-top: 2rem;
    transition: transform 0.2s ease-in-out;
    box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.3);
    &:hover {
        transform: translateY(-.3rem);
        box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.3);
    }
    &:active {
        transform: translateY(-.1rem);
    }
}

.btn-text {
    &:link,
    &:visited {
        color: $color-button-background;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid $color-button-background;
        padding: 3px 5px;
        font-size: $button-font-size;
        transition: all 0.3s;
        font-weight: 500;
    }
    &:hover {
        background-color: $color-button-background;
        color: $color-white;
        box-shadow: 0 1rem 2rem rgba($color-black, .15);
        transform: translateY(-2px);
    }
    &:active {
        box-shadow: 0 .5rem 1rem rgba($color-black, .15);
        transform: translateY(0);
    }
}