.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8rem;
    .card {
        width: 25rem;
        height: 35rem;
        margin: 0 3rem;
        background-color: $color-white;
        @include card-shadow;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        text-align: center;
        transition: transform 0.2s ease-in-out;
        &__shape {
            width: 15rem;
            height: 15rem;
            clip-path: circle(50% at 50% 50%);
            margin-top: 4rem;
        }
        &__image {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
        &__text {
            font-size: 1.6rem;
        }
        &--desc {
            width: 30rem;
            height: auto;
            margin: 0 3rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
        }
        &__heading {
            font-size: 1.6rem;
            margin-top: 2.5rem;
            font-weight: 700;
            line-height: 3rem;
            &--sub {
                font-family: 'Montserrat', sans-serif;
                font-size: 1.4rem;
                font-weight: 400;
            }
        }
        &__icons {
            display: flex;
            margin-top: 1.5rem;
            &--social {
                height: 20px;
                width: 20px;
                margin: 0 1rem;
                &:hover {
                    filter: invert(50%) sepia(99%) saturate(3404%) hue-rotate(174deg) brightness(96%) contrast(101%);
                }
            }
            &--linkedin {
                width: 16px;
                height: 20px;
                margin: 0 1rem;
                &:hover {
                    filter: invert(50%) sepia(99%) saturate(3404%) hue-rotate(174deg) brightness(96%) contrast(101%);
                }
            }
        }
        &:hover {
            transform: scale(1.05) translateY(-.5rem);
        }
    }
}