.contact {
    max-width: 160rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-bottom: 7rem;
    .heading-secondary {
        text-align: center;
    }
    &__wrapper {
        padding: 2rem;
        width: 80rem;
    }
    &__paragraph {
        font-size: 1.6rem;
        font-weight: 500;
    }
    &__form {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 1.5rem;
    }
    &__label {
        display: block;
        margin-bottom: 1rem;
    }
    &__input,
    &__area {
        width: 100%;
        padding: 1rem;
        border: 1px solid $color-button-background-hover;
        font-size: 1.6rem;
    }
    &__input-wrapper {
        text-align: center;
    }
    .button {
        cursor: pointer;
        font-size: 2rem;
        padding: 1.5rem 3.5rem;
        max-width: 25rem;
        font-weight: 700;
        font-family: 'Manuale', serif;
        align-self: center;
        position: relative;
        outline: none;
        border: none;
        letter-spacing: .1rem;
    }
}

.contact-info {
    margin-bottom: 7rem;
    &__wrapper {
        text-align: center;
        .heading-secondary {
            margin-bottom: 4rem;
        }
    }
    &__place {
        margin-bottom: 2rem;
    }
    &__paragraph {
        font-size: 1.6rem;
        font-weight: 500;
        &--adress {
            margin-bottom: 1rem;
            font-size: 2rem;
        }
    }
    &__link {
        font-size: 1.6rem;
        color: $color-text-primary;
        text-decoration: none;
        margin: .5rem 0 1.5rem;
        display: block;
        &:hover {
            color: $color-button-background;
        }
    }
}

@media(max-width:575px) {
    .contact-info,
    .contact {
        .heading-secondary {
            font-size: 3rem;
        }
    }
}