@import url('https://fonts.googleapis.com/css2?family=Manuale:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    /* font-size: 16px; */
    line-height: 2.5rem;
    color: $color-text-primary;
    background-color: $color-background-primary;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Manuale', serif;
}

.heading-primary {
    font-size: 3.5rem;
    margin-bottom: 3rem;
}

.desc-primary {
    font-size: 1.8rem;
}

// .heading-secondary {
//     font-size: 3.5rem;
//     text-transform: uppercase;
//     font-weight: 700;
//     display: inline-block;
//     background-image: linear-gradient(to right, $color-primary, $color-primary-dark);
//     background-clip: text;
//     color: transparent;
//     letter-spacing: 2px;
//     transition: all .2s;
//     &:hover {
//         transform: skewY(2deg) skewX(15deg) scale(1.1);
//         text-shadow: .5rem 1rem 20px rgba($color-black, .2);
//     }
// }
// .heading-tertiary {
//     font-size: $default-font-size;
//     font-weight: 700;
//     text-transform: uppercase;
// }
// .paragraph {
//     font-size: $default-font-size;
//     &:not(:last-child) {
//         margin-bottom: 3rem;
//     }
// }