.loader-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #242f3f;
    display: flex;
    justify-content: center;
    align-items: center;
    &__span {
        display: inline-block;
        width: 30px;
        height: 30px;
        position: relative;
        border: 4px solid #fff;
        animation: loader 2s infinite ease;
        &--inner {
            vertical-align: top;
            display: inline-block;
            width: 100%;
            background-color: #fff;
            animation: loader-inner 2s infinite ease-in;
        }
    }
    &__text {
        font-size: 2rem;
        position: absolute;
        left: 30px;
        bottom: 30px;
        color: #fff;
        animation: moveInBottom .4s ease;
    }
}