// @mixin clearfix {
//     &:after {
//         content: '';
//         display: table;
//         clear: both;
//     }
// }
// @mixin center {
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
// }
@mixin coverer {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}