// // COLORS
$color-text-primary: #2f3542;
$color-background-primary: #fff;
$color-white: #fff;
$color-black: #000;
$color-button-background: #0097e6;
// $color-grey-light-1:#f7f7f7;
// $color-grey-light-2:#eee;
// // FONT
// $default-font-size: 1.6rem;
// // GRID
// $grid-width: 114rem;
// $gutter-vertical: 8rem;
// $gutter-horizontal: 6rem;
// //BORDER-RADIUS
// $border-radius-small: 3px;
//TEXT SHADOWS
$heading-primary-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);